

.home-container {
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column; /* Empile l'image au-dessus des conteneurs */
  align-items: center;
}

h1{
  color: #100537;
  margin-bottom: 0.5rem; 
  font-size: 23px;
 
  
  
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Prend toute la largeur disponible */
  margin: 2rem 0; /* Espace autour de l'image */
  margin-top: -10px;
 
}

.decor-image {
  width: 100%;
  max-width: 900px; /* Limite la largeur maximale */
  height: auto;
  border-radius: 30px;
  
}

.background-container {
  width: 200%; /* Prend toute la largeur de la page */
  background-color: rgba(149,190,194,255); /* Couleur de fond */
  padding: 10px; /* Espace autour des conteneurs */
  margin-top: 6rem; /* Déplace le conteneur vers le haut pour qu'il soit sous l'image */
  position: relative; /* Assure que le conteneur s'affiche correctement */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at original position */
  }
}

.steps-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  margin-top: 1rem;
}

.step-container {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #b9c6f483;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(5, 3, 83, 0.1);
  height: 150px;
  margin: 0 0.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  opacity: 0; /* Start hidden */
  animation: fadeIn 0.8s ease-in-out forwards; /* Keep the final state */
}

/* Define animations with delays */
.step-container:nth-child(1) {
  animation-delay: 0.1s;
}

.step-container:nth-child(2) {
  animation-delay: 0.5s;
}

.step-container:nth-child(3) {
  animation-delay: 0.9s;
}

.step-number {
  font-size: 2rem;
  font-weight: bold;
  color: #1611a0;
  margin-right: 1rem;
  flex-shrink: 0;
}

.step-text {
  flex: 1;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-right: 38px;
  
}

.step-container::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(149,190,194,255);
  color: #fff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 1rem;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.step-container:hover::after {
  opacity: 1;
}

.step-container:hover .step-text {
  opacity: 0;
}


