@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  .connexion-container {
    width: 350px;
    margin: 50px auto;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid rgba(166, 179, 225, 0.514);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(5, 3, 83, 0.1);
    margin-top :270px;
    position: relative;
    animation: fadeIn 0.8s ease-in-out;
    text-align: center;
    
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1611a0;
    margin-bottom: 1rem;
    animation: slideIn 1s ease-out;
  }
  
  .input-group {
    margin-bottom: 1.5rem;
    text-align: left;
    animation: slideIn 0.8s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  p{
  animation: slideIn 1s ease-out;
  }
  
  label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #b9c6f483;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(5, 3, 83, 0.05);
    margin-top: 0.3rem;
    transition: all 0.3s ease;
  }
  
  input[type="email"]:focus, input[type="password"]:focus {
    box-shadow: 0 0 8px rgba(149, 190, 194, 0.8);
    transform: scale(1.05);
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color:#202d8d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s ease;
    animation: fadeIn 0.9s ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: both;
  }
  
  button:hover {
    background-color: #0c6183;
    transform: scale(1.05);
  }
  
  .user-type {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    animation: slideIn 0.8s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: both;
  }

  .login-btn {
    margin-top: 2rem;
    animation: fadeIn 1s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
    background-color: #d6415d;
  }
  .login-btn:hover {
    background-color: #901723;
  }
  
  .user-type label {
    font-size: 1.1rem;
    color: #333;
  }
  
 
  .signup {
    margin-top: 2rem;
    animation: fadeIn 1s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: both;
  }
  
  .signup-btn {
    background-color:#202d8d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
  }
  
  .signup-btn:hover {
    background-color: #0e96d6;
    transform: scale(1.05);
  }
  
  .connexion-container::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 12px;
    background-color:WHITE;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .connexion-container:hover::after {
    opacity: 0.2;
  }
  
  